<form class="form-row" [formGroup]="form" (ngSubmit)="submit()">
  <input type="hidden" formControlName="id">
  <ng-input-text label="Name" class="col-12 mb-4" formControlName="name"></ng-input-text>
  <ng-input-text label="Price" class="col-12 mb-4" formControlName="price"></ng-input-text>
  <ng-button class="col-12 mb-4" [disabled]="form.invalid" type="submit" label="Submit"></ng-button>
</form>
<!--id: number;-->
<!--date: Date;-->
<!--customerName: string;-->
<!--description: string;-->
<!--total: number;-->
<!--totalDiscount: number;-->
<!--payable: number;-->
